<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Just simple stuff</title>
    <style>
      a {
        display: block;
      }
    </style>
  </head>
  <body>
    <h1>HALLO</h1>
    <p>Was geht?</p>
    __LINKS__
  </body>
</html>
